@import '~bootstrap/scss/bootstrap';
@import 'theme';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $white;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  color: dark gray;
  text-align: center;
  font-family: fantasy;
  padding-top: 20px;
}
form {
  margin: 20px;
}

label {
  align-items: baseline;
}

td {
  font-family: fantasy;
  color: black;
}

p {
  color: darkgray;
  padding: 20px;
}

svg {
  padding-bottom: 30px;
}

.box {
  align-items: center;
  background-color: $white;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.center {
  align-items: center;
  text-align: center;
}

.description {
  font-family: fantasy;
  color: darkgray;
  padding-bottom: 40px;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.map-image {
  width: 75%;
}

.message-header {
  text-align: center;
}

.my-account {
  font-size: .75em;
  text-align: right;
}

.right-align {
  text-align: right;
  align-items: center;
}

.sign-in-button {
  border: 0;
  font-family: cursive;
  text-align: center;
}

.sign-in {
  margin: 10px;
  padding: 40px;
}

.stateform {
  display: flex;
  justify-content: center;
  // align-items: center;
  // text-align: center;
  // border: 1px solid green;
  margin-left: auto;
  margin-right: auto;

}

.state-message {
  display: flex;
  justify-content: center;
}

.create-state {
  align-items: baseline;
  background-color: white;
  border: 1px solid black;
  font-family: fantasy;
  margin: 5px;
  padding: 25px;
  text-align: left;
  vertical-align: top;
  width: 60%;

  button {
    align-items: center;
    text-align: center;
  }

  h5 {
    text-align: center;
    color: red;
  }
  input[type=text], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 4px 0;
    padding: 8px 10px;
    width: 100%;
  }
  input[type=text] {
    width: 50%;
  }

  textarea {
    width: 100%;
  }
  input[type=radio] {
    margin-left: 20px;
  }

  label {
    color: red;
  }

}

.update-state {
  align-items: baseline;
  background-color: white;
  font-family: fantasy;
  padding: 5px;
  text-align: left;
  vertical-align: top;
  width: 90%;

  button {
    align-items: center;
    text-align: center;
  }

  h5 {
    text-align: center;
    color: red;
  }
  input[type=text], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 4px 0;
    padding: 8px 10px;
    width: 100%;
  }

  label {
    color: red;
  }

}
