@import '~bootstrap/scss/bootstrap';
@import 'theme';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;

body {
  background-color: $white;
  padding-top: 10px;
}

h1 {
  color: dark gray;
  text-align: center;
}
form {
  margin: 20px;
}

.box {
  align-items: center;
  background-color: $white;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  height: 80px;
  justify-content: center;
}

.center {
  align-items: center;
  text-align: center;
}

// .alt-color {
//   background-color: $alt-color;
// }

.hide {
  display: none; // use none or visible
}

.map-image {
  width: 90%;
}

.message-header {
  text-align: center;
}

.my-account {
  font-size: .75em;
  text-align: right;
}
.sign-in-button {
  border: 0;
  font-family: cursive;
  text-align: center;
}

.sign-in {
  margin: 10px;
  padding: 40px;
}
